# DateTimeIndex function in pandas

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Date
0,6,148,NaN,29,94,33.6,0.627,21.0,1,01-11-2002
1,1,85,NaN,39,87,26.6,0.351,NaN,0,02-11-2002
2,8,183,NaN,43,94,23.3,0.672,NaN,1,03-11-2002
3,1,89,66.0,23,94,28.1,0.167,NaN,0,04-11-2002
4,0,137,40.0,35,168,43.1,2.288,65.0,1,05-11-2002
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48,180,32.9,0.171,63.0,0,03-12-2004
764,2,122,70.0,27,0,36.8,0.340,27.0,0,04-12-2004
765,5,121,72.0,23,112,26.2,0.245,30.0,0,05-12-2004
766,1,126,60.0,0,0,30.1,0.349,47.0,1,06-12-2004
767,1,93,70.0,31,0,30.4,0.315,23.0,0,07-12-2004

In [5]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure               float64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                         float64
Outcome                       int64
Date                         object
dtype: object

In [7]:
df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv', parse_dates=['Date'])
df

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3124\2812019739.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df=pd.read_csv('D:\\ml\\datasets\\health care diabetes.csv', parse_dates=['Date'])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Date
0,6,148,NaN,29,94,33.6,0.627,21.0,1,2002-01-11
1,1,85,NaN,39,87,26.6,0.351,NaN,0,2002-02-11
2,8,183,NaN,43,94,23.3,0.672,NaN,1,2002-03-11
3,1,89,66.0,23,94,28.1,0.167,NaN,0,2002-04-11
4,0,137,40.0,35,168,43.1,2.288,65.0,1,2002-05-11
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48,180,32.9,0.171,63.0,0,2004-03-12
764,2,122,70.0,27,0,36.8,0.340,27.0,0,2004-04-12
765,5,121,72.0,23,112,26.2,0.245,30.0,0,2004-05-12
766,1,126,60.0,0,0,30.1,0.349,47.0,1,2004-06-12
767,1,93,70.0,31,0,30.4,0.315,23.0,0,2004-07-12

In [8]:
df.dtypes

Pregnancies                          int64
Glucose                              int64
BloodPressure                      float64
SkinThickness                        int64
Insulin                              int64
BMI                                float64
DiabetesPedigreeFunction           float64
Age                                float64
Outcome                              int64
Date                        datetime64[ns]
dtype: object